# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.local
.DS_Store

# Expo/Mobile build folders
.expo/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*

# repomix stuff
repomix/
repomix.*
*.repomix