# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.local
.DS_Store

# Expo/Mobile build folders
.expo/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*

# Repomix
repomix-output.xml
repomix/
repomix.*
*.repomix

notes.txt
notes/
server/seed.js
server/repomix-output.xml
